body{
    width: 960px;
}
.header{
      background:url(img/mainbg.png);
       height: 360px;
        background-position: center;
        background-size: cover;
      display: flex;
     justify-content: center;
    align-items: center;
}
.nav_box{
    display: flex;
     justify-content: center;
    align-items: center;
}
.nav_img{
    width: 20%;
}
.course1_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav_textbox{
    width: 70%;
}
.course1_text{
    width: 85%;
    display: flex;
     justify-content: center;
    align-items: center;
}
.logo{
    width: 10%;
}
nav {
    text-align: center;
}
nav ul {
    margin: 0 ;
    padding: 0 ;
    font-size: 0;
}
nav ul li{
    list-style: none;
    display: inline-block;
    width: 100px; /* ここで項目の幅を指定します */
    background-color: #333; /* 背景色を指定します */
    font-size: 16px;
}
 
nav ul li a {
    text-decoration: none;
    color: #fff; /* 文字色を指定します */
}
nav ul li a:hover {
    text-decoration: none;
    color: #fff; /* 文字色を指定します */
}
 
nav li:hover{
    opacity: 0.8; /* hover時の不透明度を調整します */
}
.about{
      display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about_tex{
    text-align: center;
    width: 80%;
        display: flex;
     justify-content: center;
    align-items: center;
}
.change{
    margin: 20px;
    display: flex;
     justify-content: space-evenly;
    align-items: center;
}
#aspslide{
      position: relative;      
      width: 300px;
      height: 250px;
      overflow:hidden;
      padding:0!important;
}

.asnakami{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding:0!important;
}   


#asnakami1{
      -moz-animation: fadeinout 4s 0s infinite;
      -webkit-animation: fadeinout 4s 0s infinite;
      -o-animation: fadeinout 4s 0s infinite;
      animation: fadeinout 4s 0s infinite;
}
#asnakami2{
      -moz-animation: fadeinout 4s 1s infinite;
      -webkit-animation: fadeinout 4s 1s infinite;
      -o-animation: fadeinout 4s 1s infinite;
      animation: fadeinout 4s 1s infinite;
}
#asnakami3{
      -moz-animation: fadeinout 4s 2s infinite;
      -webkit-animation: fadeinout 4s 2s infinite;
      -o-animation: fadeinout 4s 2s infinite;
      animation: fadeinout 4s 2s infinite;
}
#asnakami4{
      -moz-animation: fadeinout 4s 3s infinite;
      -webkit-animation: fadeinout 4s 3s infinite;
      -o-animation: fadeinout 4s 3s infinite;
      animation: fadeinout 4s 3s infinite;
}

@-moz-keyframes fadeinout {
 0% { left:0%; opacity:0;}
 5% { left:0%;opacity:1; }
 20% { left:0%; opacity:1;}
 25% { left:0%;opacity:0; }
 26% { opacity:0;left:100%; }
 99.99% { opacity:0;left:100%; }
 100% { opacity:0;left:0%; }
}

@-webkit-keyframes fadeinout {
 0% { left:0%; opacity:0;}
 5% { left:0%;opacity:1; }
 20% { left:0%; opacity:1;}
 25% { left:0%;opacity:0; }
 26% { opacity:0;left:100%; }
 99.99% { opacity:0;left:100%; }
 100% { opacity:0;left:0%; }
}

@-o-keyframes fadeinout {
 0% { left:0%; opacity:0;}
 5% { left:0%;opacity:1; }
 20% { left:0%; opacity:1;}
 25% { left:0%;opacity:0; }
 26% { opacity:0;left:100%; }
 99.99% { opacity:0;left:100%; }
 100% { opacity:0;left:0%; }
}

@keyframes fadeinout {
 0% { left:0%; opacity:0;}
 5% { left:0%;opacity:1; }
 20% { left:0%; opacity:1;}
 25% { left:0%;opacity:0; }
 26% { opacity:0;left:100%; }
 99.99% { opacity:0;left:100%; }
 100% { opacity:0;left:0%; }
}

@keyframes scroll{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 3));
  }
}
.slider {
  width: 100%;
  background: rgba(255, 251, 0, 0.726);
  height: 140px;
  margin: 20px;
  overflow:hidden;
  position: relative;
}
.slider-wrap {
    animation: scroll 0.5s linear infinite;
    display: flex;
    width: calc(250px * 8);
    height:100%;
  }
.slide-image{
  width:80%;
  height:100%;
  object-fit:cover;
}
.slide{
  width:250px;
  height:100%;
  text-align:center;
}

.header1{
    font-size: 48px;
    color: white;
    text-align: center;
}
.header2{
    font-size: 36px;
    color: white;
    text-align: center;
}
.about_box{
     display: flex;
     justify-content: center;
    align-items: center;
}
.course1{
      display: flex;
     justify-content: center;
    align-items: center;
}
.course1_imgbox{
    width: 50%;
}
.course1_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.course1_textbox{
    width: 50%;
      display: flex;
    justify-content: center;
    align-items: center;
}
.course1_text{
    width: 85%;
}
.course2{
      display: flex;
     justify-content: center;
    align-items: center;
}
.course2_imgbox{
    width: 50%;
}
.course2_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.course2_textbox{
    width: 50%;
      display: flex;
    justify-content: center;
    align-items: center;
}
.course2_text{
    width: 85%;
}
.course3{
      display: flex;
     justify-content: center;
    align-items: center;
}
.course3_imgbox{
    width: 50%;
}
.course3_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.course3_textbox{
    width: 50%;
      display: flex;
    justify-content: center;
    align-items: center;
}
.course3_text{
    width: 85%;
}
.news{
     display: flex;
     justify-content: center;
    align-items: center;
}
.news_img{
     display: flex;
     justify-content: center;
    align-items: center;
}
.news_col{
     display: flex;
     justify-content: center;
    align-items: center;
}
.news1{
    width: 33%;
      display: flex;
     justify-content: center;
    align-items: center;
     flex-direction: column;
}
.news1_imgbox{
    width: 80%;
}
.news1_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news1_textbox{
    width: 80%;
      display: flex;
    justify-content: center;
    align-items: center;
}
.news1_text{
    width: 85%;
}
.more{
      display: flex;
    justify-content: center;
    align-items: center;
}
.more_box{
    width: 40%;
    background-color: tomato;
    text-align: center;
}
.access{
    margin: 15px;
    background-color: gray;
      display: flex;
    justify-content: center;
    align-items: center;
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
}
.basho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.basho_box{
    width:  60%;
     display: flex;
    justify-content: center;
    align-items: center;
}
.basho_tevt{
    width: 70%;
    margin: 10px;
}
.contact{
      display: flex;
    justify-content: center;
    align-items: center;
}
.contact_tex{
    width: 50%;
    text-align: center;
}
.more2_tex{
 text-decoration: none;
 color: black;
}
.more2_tex:hover{
 text-decoration: none;
 color: black;
 font-size: 50px;
}
#jct_sample {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
height: 80px;
line-height: 80px;
border-top:red solid 7px;
border-bottom:red solid 7px;
margin-bottom: 40px;
}

#jct_sample span {
font-size: 35px;
color: yellow;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form_box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_tevt{
    width: 200px;
    margin: 20px;
}
.douki{
    width: 200px;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submit{
    margin: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit_b{
     border: 0;
    line-height: 3.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}


#page_top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    background: #fff;
    color: #737373;
    padding: 10px;
    border: solid 1px;
    border-radius: 50%;
    box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
}

.footer{
    height: 20px;
    background-color: gray;
    margin: 20px;
}
.end{
    margin: 20px;
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}